/* Setup Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "JosefinSans", sans-serif;
}

p,
li {
  font-family: "ZillaSlab", serif;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.page {
  padding: 100px 45px 75px 45px;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 768px) {
  .page {
    padding: 100px 35px 75px 35px;
  }

  .header-image {
    margin-top: -35px;
  }
}