/* Setup Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "JosefinSans", sans-serif;
}

p,
li {
  font-family: "ZillaSlab", serif;
}

.page {
  padding: 100px 25px 75px 25px;
  max-width: 1000px;
  margin: auto auto;
}